{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    {% block title %}

    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href={% static "assets/css/fontawesome.css" %}>
    <link rel="stylesheet" href={% static "assets/css/templatemo-sixteen.css" %}>
    <link rel="stylesheet" href={% static "assets/css/owl.css" %}>
  <link rel="stylesheet" href={% static "assets/css/custom.css" %}>
    {% block link %}
    {% endblock %}

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href={% url 'mysite:index' %}><h2><em>Emazon</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         {% block navbar %}
         {% endblock %}
        </div>
      </nav>
    </header>
    {% block body %}
    {% endblock %}


    <!-- Bootstrap core JavaScript -->
    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>


    <!-- Additional Scripts -->
    <script src={% static "assets/js/custom.js" %}></script>
    <script src={% static "assets/js/owl.js" %}></script>
    <script src={% static "assets/js/slick.js" %}></script>
    <script src={% static "assets/js/isotope.js" %}></script>
    <script src={% static "assets/js/accordions.js" %}></script>
    {% block script %}
    {% endblock %}
  </body>

</html>
