{% extends 'base.html' %}
{% load static %}
{% block link %}
    <style>
        img {
             max-width: 40%;
             height: auto;
            object-fit: scale-down;
        }
    </style>
{% endblock %}

{% block navbar %}
     <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href={% url 'mysite:index' %}>Home
                    <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href={% url 'mysite:product-details' %}>Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'mysite:about' %}>About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'mysite:contact' %}>Contact Us</a>
              </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="#">Hi, {{ user.username }}!</a></li>
                    <li class="nav-item"><a class="nav-link" href={% url "mysite:logout" %}>Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href={% url "mysite:login" %}>Login</a></li>
                {% endif %}
            </ul>
          </div>
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>Emazon Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
                  <li data-filter=".des">Featured</li>
                  <li data-filter=".dev">Flash Deals</li>
                  <li data-filter=".gra">Last Minute</li>
              </ul>
            </div>
          </div>
            {% for item in products %}
          <div class="col-md-4">
            <div class="product-item">
                <div>
                    <a href={{ item.url }} target="_blank"><img src={% static ''%}{{ item.img }} alt=""></a>
              <div class="down-content">
                  <a href={{ item.url }}><h4>{{ item.name }}</h4></a>
                  <p>{{ item.desc }}</p>
              </div>
              <div class="down-content">
                      <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>

                    <h6>Tk. {{ item.price }}</h6>
                  </div>
                    </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}